<div class="w-full overflow-x-auto mt-1 rounded-xl shadow">
    <table class="min-w-full border border-gray-200 divide-y divide-gray-200">
        <thead class="bg-gray-100 text-gray-700 text-sm uppercase">
            <tr>
                <th scope="col" class="px-4 py-2 text-center">Cod. Barras</th>
                <th scope="col" class="px-4 py-2 text-center">Producto</th>
                <th scope="col" class="px-4 py-2 text-center">Exis.</th>
                <th scope="col" class="px-4 py-2 text-center">Stock Min.</th>
                <th scope="col" class="px-4 py-2 text-center">Precio Venta</th>
                <th scope="col" class="px-4 py-2 text-center">Precio Compra</th>
            </tr>
        </thead>

        @if (productosFiltrados() && productosFiltrados()!.length > 0) {
        <tbody class="divide-y divide-gray-200 text-sm">
            @for (producto of productosFiltrados(); let i = $index; track producto.id) {
            <tr tabindex="0" (mouseenter)="indiceHover = i" (mouseleave)="indiceHover = null"
                (dblclick)="seleccionarProducto(producto)" (keydown.enter)="seleccionarProducto(producto)"
                [class.bg-blue-100]="indiceSeleccionado() === i || indiceHover === i"
                class="cursor-pointer hover:bg-sky-100 transition-colors">
                <th scope="row" class="px-4 py-2 font-medium text-gray-700">
                    {{ producto.codigoBarras }}
                </th>
                <td class="px-4 py-2">{{ producto.descripcion }}</td>
                <td class="px-4 py-2 text-center">{{ producto.stockActual }}</td>
                <td class="px-4 py-2 text-center">{{ producto.stockMinimo }}</td>
                <td class="px-4 py-2 text-center">{{ producto.precioVenta |  currency }}</td>
                <td class="px-4 py-2 text-center">{{ producto.precioCompra | currency}}</td>
            </tr>
            }
        </tbody>
        } @else {
        <tbody>
            <tr>
                <td colspan="6" class="px-4 py-4 text-center text-gray-500 italic">
                    No se encontraron productos
                </td>
            </tr>
        </tbody>
        }
    </table>
</div>