<div class="modal-overlay fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center"
	(click)="closeModal()">
	<div class="modal-content bg-white rounded-lg shadow-xl p-6 w-full max-w-md mx-4"
		(click)="$event.stopPropagation()">
		<h2 class="text-2xl font-bold text-gray-900 mb-4">Ticket</h2>
		<h2 class="text-xl font-semibold text-gray-900">Total a pagar</h2>
		<h2 class="text-2xl font-bold text-blue-900 mb-4">{{totalVenta}}</h2>
		<p class="text-gray-600 mb-2">Paga Con</p>
		<input type="number" autofocus [value]="pagoCon()" (input)="calcularCambio(pagoConTxt.valueAsNumber)"
			#pagoConTxt tabindex="0"
			class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-900 mb-4">
		<h2 class="text-xl font-semibold text-gray-900">Cambio</h2>
		<h3 class="text-lg font-medium text-emerald-500 mb-6">{{cambio()}}</h3>
		<button (click)="cerrarVenta()"
			class="w-full bg-blue-900 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-500 transition-colors duration-200">Aceptar</button>
	</div>
</div>