<mat-radio-group aria-label="Seleccione un método de búsqueda" class="search-options">
<mat-radio-button value="1" class="search-option"></mat-radio-button>
<form [formGroup]="busquedaForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="fechaInicio">Fecha de inicio</label>
    <input id="fechaInicio" type="date" class="form-control" formControlName="fechaInicio" required>
    @if (busquedaForm.get('fechaInicio')?.invalid && busquedaForm.get('fechaInicio')?.touched) {
    <div class="text-danger">
      @if (busquedaForm.get('fechaInicio')?.errors?.['required']) {
      <div>Debe de ingresar una fecha de inicio</div>
      }
    </div>
    }
  </div>
  <div class="form-group">
    <label for="fechaFin">Fecha de fin</label>
    <input id="fechaFin" type="date" class="form-control" formControlName="fechaFin" required>
    @if (busquedaForm.get('fechaFin')?.invalid && busquedaForm.get('fechaFin')?.touched) {
    <div class="text-danger">
      @if (busquedaForm.get('fechaFin')?.errors?.['required']) {
      <div>Debe de ingresar una fecha de fin</div>
      }
    </div>
    }
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="busquedaForm.invalid">Buscar</button>
</form>

  <mat-radio-button value="2" class="search-option">  </mat-radio-button>
    <div class="search-by-code">
      <label for="folioCode" class="sr-only">Ingresar código</label>
      <input 
        id="folioCode"
        type="text"
        class="form-control"
        placeholder="Ingresar código..."
        (keydown.enter)="emitFolio(txtFolio.value)"
        #txtFolio
        autofocus
      >
    </div>
</mat-radio-group>
