<div>
    <table>
        <thead>
        <tr>
            <th scope="col">Descripcion</th>
            <th scope="col">Existencia Anterior</th>
            <th scope="col">Nueva Existencia</th>
            <th scope="col">Diferencia</th>
            <th scope="col">Precio U.</th>
            <th scope="col">Subtotal</th>
        </tr>
        </thead>
        @if (carritoAjuste() && carritoAjuste().length > 0) {
            <tbody 
                tabindex="0" 
                (keydown.arrowUp)="onTeclaArriba($event)"
                (keydown.arrowDown)="onTeclaAbajo($event)"
            >
                @for (producto of carritoAjuste(); let i = $index; track producto.descripcion) {
                <tr 
                    (click)="seleccionarIndice(i)" 
                    (mouseenter)="indiceHover = i"
                    (mouseleave)="indiceHover = null"
                    [class.selected]="indiceSeleccionadoActual() === i"
                    [class.hover] ="indiceHover === i" 
                    style="cursor: pointer;">
                    <th scope="row">{{ producto.descripcion }}</th>
                    <td>{{ producto.existenciaAnterior }}</td>
                    <td>{{ producto.nuevaExistencia }}</td>
                    <td>{{ producto.diferencia }}</td>
                    <td>{{ producto.precioU }}</td>
                    <td>{{ producto.subtotal }}</td>
                </tr>
                }
            </tbody>
        } @else {
            <tbody>
                <tr>
                <td colspan="6">
                    No se encontraron productos
                </td>
                </tr>
            </tbody>
        }
    </table>
</div>